<div class="d-flex flex-wrap align-items-center justify-content-space-between">
    <form [formGroup]="searchRegistrarForm" (ngSubmit)="searchRegistrar()" class="nav col-12 col-lg-auto me-lg-auto">
        <div class="me-md-3 form-group">
            <input type="text" class="form-control" formControlName="data" placeholder="Введіть дані для пошуку">            
        </div>
        <button type="submit" class="btn btn-primary btn-outline-light">Знайти реєстратора</button>
    </form>
    <div class="add-registrar-btn">
        <button type="button" class="btn btn-primary btn-outline-light" (click)="addRegistrar()">Додати нового реєстратора</button>
    </div>
</div>
<div *ngIf="loading; then loadingBlock else registrarsBlock"></div>
<ng-template #loadingBlock>
    <div class="d-flex flex-wrap align-items-center justify-content-center">
        <span #loadingBlock *ngIf="loading"class="spinner-border spinner-border-sm mr-1 mt-3 ms-auto me-auto"></span>
    </div>
</ng-template>
<ng-template #registrarsBlock>
    <div class="registrars-list mt-3">
        <ul class="list-group" *ngFor="let item of registrars">
            <li class="list-group-item">
                
                    <div class="row g-3">
                        <div class="col-3">
                            <p>Ім'я: {{item.firstName}} </p>
                            <p>почта: {{item.email}} </p>
                        </div>
                        <div class="col-3">
                            <p>Прізвище: {{item.lastName}}</p>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="me-2">
                                <div *ngIf="item.isActive; else inactiveBlock"> <p class="text-success">Активний</p> </div>
                                <ng-template #inactiveBlock><p class="text-success">Деактивований</p></ng-template>
                                <a class="link-primary" (click)="goToRegistrar(item.id)">Детальніше...</a>
                            </div>
                        </div>
                    </div> 
                    
                
                
                
            </li>
        </ul>

        <mat-paginator #paginator
            
            [length]="count"
            [pageIndex]="pageIndex"
            [pageSize]=10
            [pageSizeOptions]="[1, 2, 5]"
            (page)="getPaginatorData($event)"
            
        ></mat-paginator>

        
    </div>
</ng-template>
